@using Models
@using System.Globalization;
@model SessionResponse

<div class="card">

    <div class="card-header input-group mb-0 d-flex flex-row r" id="heading-@Model.ID">

            <button class="r flex-grow-1 btn btn-link collapsed text-left" data-toggle="collapse" data-target="#collapse-@Model.ID" aria-expanded="false" aria-controls="collapse-@Model.ID">
                @Model.Start_Hour.ToString(@"HH\:mm", CultureInfo.InvariantCulture) - @Model.End_Hour.ToString(@"HH\:mm", CultureInfo.InvariantCulture) : @Model.Name
            </button>

            <div class="r input-group-append">
                <a asp-page="/Talk/Add" asp-route-session_id="@Model.ID" class="btn btn-outline-secondary oi oi-plus d-flex justify-content-center align-items-center"></a>
                <a asp-page="/Session/Edit" asp-route-session_id="@Model.ID" class="btn btn-outline-primary oi oi-pencil d-flex justify-content-center align-items-center"></a>
                <a asp-page="/Session/Delete" asp-route-session_id="@Model.ID" class="btn btn-outline-danger oi oi-trash d-flex justify-content-center align-items-center"></a>
            </div>


    </div>


    <div id="collapse-@Model.ID" class="collapse" aria-labelledby="heading-@Model.ID" data-parent="#accordion">
        <div class="card-body p-1">
            @if (Model.Hosts != null && Model.Hosts.Any())
            {
                <div class="Host">

                    <b>Hosts: </b>

                    @for (int i = 0; i < Model.Hosts.Count(); i++)
                    {
                        <a>@Model.Hosts.ElementAt(i).FullName</a>

                        @if (Model.Hosts.Count() > 1 && i == (Model.Hosts.Count() - 2))
                        {
                            @:and
                        }


                        @if (Model.Hosts.Count() > 1 && i < (Model.Hosts.Count() - 2))
                        {
                            @:,
                        }
                    }

                </div>
            }

            @if (Model.Talks != null && Model.Talks.Any())
            {
                <div class="Talks">

                    <div class="card">
                        <div class="d-flex flex-column ro" >
                            @foreach (var talk in Model.Talks)
                            {
                                <partial name="Talk/_Talk_Card" model="talk" />
                            }
                        
                        </div>

                    </div>
                </div>
            }

            <div class="Location">
                <b>Location: </b>
                <span>@Model.Location.GetFullInfo</span>
            </div>

        </div>
    </div>

</div>
