@page
@model FrontEnd.Pages.Session.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SessionResponse</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SessionResponse.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SessionResponse.Location.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SessionResponse.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SessionResponse.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SessionResponse.Start_Hour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SessionResponse.Start_Hour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SessionResponse.End_Hour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SessionResponse.End_Hour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SessionResponse.ConferenceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SessionResponse.ConferenceID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SessionResponse.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
