@page "{conference_id:int}"
@model FrontEnd.Pages.ConferenceModel
@using System.Globalization;
@{
    ViewData["Title"] = "Conference";
}

<div class="Sessions">

    <h1>@Model.conference.Name</h1>
    
    <div id="accordion">

        
        @foreach (var session in Model.Sessions)
        {
            <div class="card">
                <div class="card-header input-group mb-0" id="heading-@session.ID">
                
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-@session.ID" aria-expanded="false" aria-controls="collapse-@session.ID">
                        @session.Start_Hour.ToString(@"HH\:mm", CultureInfo.InvariantCulture) - @session.End_Hour.ToString(@"HH\:mm", CultureInfo.InvariantCulture) : @session.Name
                    </button>
              
                    <div class="input-group-append">
                        <button class=" btn btn-outline-secondary">
                            <i class="oi oi-plus"></i>
                        </button>
                    </div>
                
                </div>

                <div id="collapse-@session.ID" class="collapse" aria-labelledby="heading-@session.ID" data-parent="#accordion">
                    <div class="card-body p-1">
                        @if (session.Chairs != null && session.Chairs.Any())
                        {
                            <div class="Chair">

                                <b>Chairs: </b>

                                @for (int i = 0; i < session.Chairs.Count(); i++)
                                {
                                    <a>@session.Chairs.ElementAt(i).First_Name @session.Chairs.ElementAt(i).Last_Name</a>

                                    @if (session.Chairs.Count() > 1 && i == (session.Chairs.Count() - 2))
                                    {
                                        @:and
                                    }


                                    @if (session.Chairs.Count() > 1 && i < (session.Chairs.Count() - 2))
                                    {
                                        @:,
                                    }


                                }

                            </div>
                        }

                        @if (session.Talks !=null && session.Talks.Any())
                        {
                            <div class="Talks">
                                <table class="table table-striped ">

                                    @foreach (var talk in session.Talks)
                                    {
                                        <tr class="">

                                            <td class="border-right align-middle">
                                                <button class="btn">
                                                    <i class="oi oi-plus"></i>
                                                </button>
                                            </td>

                                            <td class="border-right align-middle">
                                                <span class="text-center ">
                                                    @talk.Hour.ToString(@"HH\:mm", CultureInfo.InvariantCulture)
                                                </span>
                                            </td>

                                            <td class="align-middle">
                                                <div class="Talks-Persons">

                                                    @if (talk.Persons != null && talk.Persons.Any())
                                                    {


                                                        @for (int i = 0; i < talk.Persons.Count(); i++)
                                                        {
                                                            <a>@talk.Persons.ElementAt(i).First_Name @talk.Persons.ElementAt(i).Last_Name</a>

                                                            @if (talk.Persons.Count() > 1 && i == (talk.Persons.Count() - 2))
                                                            {
                                                                @:and
                                                            }


                                                            @if (talk.Persons.Count() > 1 && i < (talk.Persons.Count() - 2))
                                                            {
                                                                @:,
                                                            }


                                                        }
                                                    }

                                                </div>
                                                <span class="font-weight-bold">
                                                    @talk.Name
                                                </span>
                                            </td>

                                        </tr>
                                    }

                                </table>

                            </div>
                        }

                        <div class="Location">
                            <b>Location: </b>
                            <span>@session.Location.Name - @session.Location.Details</span>
                        </div>

                    </div>            
                </div>

            </div>
        }

    </div>

</div>

