@page 
@model IndexModel
@using System.Globalization;
@{
    ViewData["Title"] = "Home page";
}

<div class="Search">
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search"  class="form-control" value="@Model.SearchTerm" asp-for="SearchTerm" placeholder="Type to search" />
                <span class="input-group-append"> 
                    <button class="btn btn-light btn-outline-primary">
                        <i class="oi oi-magnifying-glass"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>

<div class="Conferences">

    <h1>Conference List</h1>


    @foreach (var conf in Model.Conferences)
    {

        <div class="col-md-3 mb-4">
            <div class="card shadow session h-auto">

                <div class="card-header">
                    <h5 class="card-title"><a asp-page="Conference" asp-route-conference_id="@conf.ID">@conf.Name</a></h5>
                </div>

                <div class="card-body text-center">
                    <h7>@conf.Start_Date.ToString(@"d.MM.yyyy", CultureInfo.InvariantCulture) - @conf.End_Date.ToString(@"d.MM.yyyy", CultureInfo.InvariantCulture) </h7>
                </div>
            </div>
        </div>

        
    }

</div>