@page "{conference_id:int}"
@model FrontEnd.Pages.Conference.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Conference:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conference.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conference.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conference.Start_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conference.Start_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conference.End_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conference.End_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conference.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conference.ParseTagString)
        </dd>
    </dl>
    
    <form method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-secondary"  asp-page="/Conference/Index" asp-route-conference_id=@Model.Conference.ID>Back to Conference</a>
    </form>
</div>
